body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    background-color: #ffffff;
    color: #000000;
    display: block;
    text-align: center;
}

#wrapper {
    max-width: 1000px;
    width: 100%;
    /*width: 90%;*/
    margin: 5% 0 5% 5%;
    margin-left: auto;
    margin-right: auto;
}

li a, button {
    border: 0;
    line-height: 17px;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    background-color: #2ecc71;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 0.05em;
}

img, h1, .header {
    margin: 0 0 5% 0;
}

h1 {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    font-variant: normal;
    font-size: 48px;
}

.header {
    /* padding: 50px;
    background-color: #ecf0f1;
    border-radius: 20px; */
    color: #7f8c8d;
    padding-left: 30px;
    padding-right: 30px
}

li a:active, button:active {
    opacity: 0.75;
}

ul {
    list-style: none;
    margin: 3px;
    padding: 0;
}

li {
    margin: 3px;
}

#wrapper > ul > li {
    display: inline-block;
}

my-reactive-element {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 18px;
    display: block;
    margin: 30px 0 30px 0;
    background-color: #ecf0f1;
    color: #7f8c8d;
    border-radius: 5px;
    padding: 20px;
}

my-reactive-element ul {
    padding: 0;
    margin: 0 0 0 0;
}

.addthis_toolbox a {
	float: none !important;
}