body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    background-color: #ffffff;
    color: #000000;
    display: block;
}

.wrapper {
    max-width: 70%;
    width: 90%;
    margin: 5% 0 5% 5%;
}

button {
    border: 0;
    line-height: 17px;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    background-color: #2ecc71;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    letter-spacing: 0.05em;
}

img, h1 {
    margin: 0 0 5% 0;
}

h1 {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-weight: lighter;
    font-variant: normal;
    font-size: 48px;
    padding: 50px;
    background-color: #ecf0f1;
    border-radius: 20px;
    color: #7f8c8d;
}

button:active {
    opacity: 0.75;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

my-reactive-element {
    font-family: Helvetica Neue, Helvetica, Arial;
    font-size: 18px;
    display: block;
    margin: 30px 0 30px 0;
    background-color: #ecf0f1;
    color: #7f8c8d;
    border-radius: 5px;
    padding: 20px;
}

my-reactive-element ul {
    padding: 0;
    margin: 0 0 0 30px;
}